@model Index_VM

@{
    ViewData["Title"] = "Index";
}

@if(@ViewBag.Info != null)
{
    <h5>@ViewBag.Info</h5>

}
<form method="post">
<table class="table">
    <thead>
        <tr>

            <th>
                Nombre
            </th>
            <th>
                Precio
            </th>
            <th>
                Nuevo Precio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@for (int i = 0; i < Model.Plantas.Count; i++) {
        <tr>
         
                
            
            <td>
                @Html.HiddenFor(modelItem => Model.Plantas[i].IdPlanta)
                @Html.DisplayFor(modelItem => Model.Plantas[i].NombrePlanta)
                @Html.HiddenFor(modelItem => Model.Plantas[i].NombrePlanta)
            </td>

            <td>
                @Html.DisplayFor(modelItem => Model.Plantas[i].Precio)
                @Html.HiddenFor(modelItem => Model.Plantas[i].Precio)
            </td>

            <td>@Html.EditorFor(modelItem => Model.Plantas[i].PrecioNuevo)</td>
        </tr>
}
    </tbody>
</table>
<div>
    <input type="submit" class="btn btn-primary" value="Cambiar Precios" />
</div>
</form>
